#compContainer {
  padding-left: 10px;
  padding-right: 10px;
}
#compContainer Button {
  position: relative;
  margin: 0px 0px 10px 10px;
  font-family: 'Helvetica';
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  background-color: #aaaaaa;
}
#compContainer select {
  background: transparent;
  width: 150px;
  padding: 5px 25px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 28px;
}
