#baseDiv #bg {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #888888;
  text-align: center;
}
#baseDiv #progressBar {
  position: absolute;
}
.ProgressBarNormalStyle {
  background-color: #00aaff;
}
.ProgressBarOverFlowStyle {
  background-color: #ff1100;
}
#baseDiv #progressBarText {
  font-family: 'Helvetica';
  position: absolute  ;
  align-content: center;
  z-index: 10;
}
