.pb-baseDiv{
    align-self: center;
}

.pb-baseDiv .pb-bg{
    position: relative;
    width: 100%;
    height: 100%;
}

.pb-baseDiv .pb-progressBar{
    position: absolute;
    height:100%;
}

.pb-progressBarNormal {
    background-color: @barNormalColor;
}

.pb-progressBarOverFlow {
    background-color: @barOverflowColor;
}

.pb-baseDiv .pb-textDiv {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.pb-baseDiv .pb-text{
    font-family: @fontFamily;
    color: @fontColor;
    align-self: center;
    z-index: 10;
}

.pb-col-width{
    width: 100%;
}

/* For mobile phones: */
.pb-col-height{
    height: @heightMobile * 1px;
}

.pb-baseDiv .pb-textSize{
    font-size: @fontSizeMobile;
}

/* For Tablet: */
@media only screen and (min-width: @screen-sm-min) {
    
    .pb-col-height{
        height: @heightMobile + @heightFactor * 1px;
    }
    
    .pb-baseDiv .pb-textSize{
        font-size: @fontSizeMobile*((@heightMobile + @heightFactor * 1)/@heightMobile)*.90em;
    }

}

/* For desktop: */
@media only screen and (min-width: @screen-md-min) {
    
    .pb-col-height {
        height: @heightMobile + @heightFactor * 2px;
    }
    
    .pb-baseDiv .pb-textSize{
        font-size: @fontSizeMobile*((@heightMobile + @heightFactor * 2)/@heightMobile)*.90em;
    }

}

/* For Large desktop: */
@media only screen and (min-width: @screen-lg-min) {
    
    .pb-col-height {
        height: @heightMobile + @heightFactor * 3px;
    }
    
    .pb-baseDiv .pb-textSize{
        font-size: @fontSizeMobile*((@heightMobile + @heightFactor * 3)/@heightMobile)*.90em;
    }

}